.information-title {
    font-size: x-large !important;
}

.information-text {
    font-size: medium !important;
}

.btn-create-review {
    font-size: x-large !important;
    font-weight: bold !important;
    color: white !important;
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    padding: 10px 20px 10px 20px !important;
}

.btn-create-review:hover {
    color: white !important;
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    transform: scale(1.1) !important;
    transition: 0.3s !important;
}

.btn-create-review:focus {
    color: white !important;
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
}

/*---------------Reseñas------------------*/

.user-img {
    width: 60px !important;
    height: 60px !important;
}