.star-rating {
    display: flex !important;
    flex-direction: row-reverse !important;
    font-size: 1.5em !important;
    justify-content: space-around !important;
    padding: 0 .5em !important;
    text-align: center !important;
    /*width:5em;*/
}

.star-rating input {
    display: none !important;
}

.star-rating label {
    color: #ccc !important;
    cursor: pointer !important;
}

.star-rating :checked ~ label {
    color: gold !important;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold !important;
}

.fa-heart {
    font-size: xx-large !important;
}

.heart-color, .fa-heart:hover {
    color: red !important;
}


.btn-observable:hover, .btn-observable:focus,
.btn-fav:hover, .btn-fav:focus,
.btn-pencil:hover, .btn-pencil:focus,
.btn-trash:hover, .btn-trash:focus {
    border-color: transparent !important;
}

.btn-pencil:hover, .btn-pencil:focus {
    color: var(--primary-color) !important;
}

.btn-trash:hover, .btn-trash:focus {
    color: red !important;
}

.btn-close {
    color: black !important;
    font-size: small !important;
}

.btn-close:hover, .btn-close:focus {
    color: black !important;
    transform: scale(1.02) !important;
    transition: 0.3s !important;
    box-shadow: none !important;
}