.card-experience {
    width: 350px;
    height: fit-content;
}

.card-link {
    text-decoration: none;
    color: black;
}

.card-img-top{
    width: 100%;
    height: 250px;
    /*object-fit: cover;*/
}

.btn-fav {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 3px;
}


.experience.card-title:hover {
    color: black;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

.title-link a {
    color: black;
    text-decoration: none;
}

.table-title{
    font-weight: bold;
}