* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel-container {
    margin: 5% auto;
    position: relative;
}

@media {
    .carousel-container {
        width: 100%;
    }
}

.track {
    display: inline-flex;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}
@media  {
    .card-container {
        width: 184px;
    }
}
.carousel-item{
    margin: 3%;
}

.nav button {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #FAB672;
}
.nav .prev {
    left: -30px;
    display: block;
}

.nav .next {
    right: -30px;
    display: block;
}