.btn-error{
    font-size: x-large;
    font-weight: bold;
    color: white;
    border-color: #F99D32;
    background-color: #F99D32;
    padding: 5px 15px;
    margin: 10px;
}
.btn-error:hover {
    color: white;
    border-color: #F99D32;
    background-color: #F99D32;
    transform: scale(1.05);
}
.btn-error:focus{
    color: white;
    border-color: #F99D32;
    background-color: #F99D32;
}