.information-title {
    font-size: x-large;
}

.information-text {
    font-size: medium;
}

.btn-create-review {
    font-size: x-large;
    font-weight: bold;
    color: white;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    padding: 10px 20px 10px 20px;
}

.btn-create-review:hover {
    color: white;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    transform: scale(1.1);
    transition: 0.3s;
}

.btn-create-review:focus {
    color: white;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

/*---------------Reseñas------------------*/

.user-img{
    width: 60px;
    height: 60px;
}