.form-label {
    font-size: large;
    font-weight: bold;
}

.form-control:focus, .form-control:active {
    border-color: var(--primary-color) !important;
    box-shadow: none !important;
}

.optional-text {
    font-size: small;
    font-weight: normal;
}

.required-field {
    color: red;
    margin-left: 5px;
}

.form-error-label {
    color: red;
    margin: 0;
    padding: 0 4px;
}

/*---------------------------*/
.btn-submit-form {
    font-size: x-large;
    font-weight: bold;
    color: white;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.btn-submit-form:hover, .btn-submit-form:focus {
    color: white;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    transform: scale(1.02);
    transition: 0.3s;
}

.btn-submit-form:disabled {
    color: white;
    border-color: var(--third-color);
    background-color: var(--third-color);
}

/*---------------------------*/
.btn-cancel-form {
    font-size: x-large;
    font-weight: bold;
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: white;
}

.btn-cancel-form:hover, .btn-cancel-form:focus {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: white;
    transform: scale(1.02);
    transition: 0.3s;
}

.btn-cancel-form:disabled {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: white;
}


