.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: space-around;
    padding: 0 .5em;
    text-align: center;
    /*width:5em;*/
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating :checked ~ label {
    color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

.fas.fa-star.star-color {
    color: gold;
}

.fas.fa-star {
    color: lightgrey;
}

.fas.fa-heart.heart-color, .fa.fa-heart-o:hover {
    color: red;
    font-size: xx-large;
}

.fa.fa-heart-o {
    color: grey;
    font-size: xx-large;
}

.btn-observable:hover, .btn-observable:focus,
.btn-fav:hover, .btn-fav:focus,
.btn-pencil:hover, .btn-pencil:focus,
.btn-trash:hover, .btn-trash:focus {
    border-color: transparent;
}

.btn-pencil:hover, .btn-pencil:focus {
    color: var(--primary-color);
}

.btn-trash:hover, .btn-trash:focus {
    color: red;
}

.btn-close{
    color: black;
    font-size: small;
}

.btn-close:hover, .btn-close:focus {
    color: black;
    transform: scale(1.02);
    transition: 0.3s;
    box-shadow: none;
}