.navbar{
    background-color: var(--background-color);
}

.logo {
    text-decoration: none;
}

.logo:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.logo-img {
    max-height: 80px;
}

.logo-text {
    padding-left: 15px;
    font-family: 'Yeseva One', sans-serif;
    font-size: xxx-large;
    background: linear-gradient(to left, #F87037, #F5C404);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.container-navbar-buttons {
    margin: 0 30px;
}

.btn-category {
    color: black;
    font-size: x-large;
    border-color: black;
    margin: 10px 20px 0 20px;
    padding: 5px 20px 10px 15px;
    border-radius: 15px;
}

.btn-category > img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: transparent;
}

.btn-category:hover {
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
    color: black;
    transform: scale(1.05);
    transition: 0.3s;
}

.btn-category:focus {
    border-color: black;
    color: black;
}

.isActive {
    border-color: var(--primary-color);
    background-color: rgba(255, 197, 132, 0.5);
    color: black;
}

.separator {
    border: 2px solid black;
    margin: 0;
    padding: 0;
}