.container-header{
    background-color: rgba(255, 197, 132, 0.3);
}
.logo{
    color: #F99D32;
    font-family: 'Yeseva One', sans-serif;
    font-size: xxx-large;
    text-decoration: none;
    justify-content: center;
    background: linear-gradient(to left, #F87037, #F5C404);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.logo-img{
    max-height: 80px;
}
.logo:hover{
    color: #F99D32;
    cursor: pointer;
}
.container-header-btn{
    margin: 15px 30px 15px auto;

}
.btn-header{
    font-size: x-large;
    font-weight: bold;
    color: white;
    border-color: #F99D32;
    background-color: #F99D32;
    padding: 10px 20px 10px 20px;
    margin-left: 40px;
}
.btn-header:hover {
    color: white;
    border-color: #F99D32;
    background-color: #F99D32;
    scale: 110%;
}
.btn-header:focus{
    color: white;
    border-color: #F99D32;
    background-color: #F99D32;
}

/*.container-types {*/
/*    */
/*}*/
.btn-filter{
    color: black;
    font-size: x-large;
    font-weight: normal;
    border-color: #F99D32;
    margin: 10px 20px 0 20px;
    padding: 5px 20px 10px 15px;
    border-radius: 15px;
}
.btn-filter > img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.btn-filter:hover{
    border-color: #F99D32;
    background-color: #ffc584;
    color: black;
    scale: 105%;
}
.btn-filter:focus{
    border-color: #F99D32;
    color: black;
}

.separator{
    color: #fd9715;
    border-width: 3px;
    margin: 10px 0;
}
