.container-header {
    background-color: rgba(255, 197, 132, 0.3);
}

.logo {
    text-decoration: none;
}

.logo:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.logo-img {
    max-height: 80px;
}

.logo-text {
    padding-left: 15px;
    font-family: 'Yeseva One', sans-serif;
    font-size: xxx-large;
    background: linear-gradient(to left, #F87037, #F5C404);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.link-home {
    font-size: xx-large;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: underline;
    margin-left: 40px;
}

.link-home:hover, .link-home:focus {
    color: var(--secondary-color);
    text-decoration: underline;
    margin-left: 40px;
}

.container-header-btn {
    margin: 15px 30px 15px auto;
}

.btn-header {
    font-size: x-large;
    font-weight: bold;
    color: white;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    padding: 10px 20px 10px 20px;
    margin-left: 40px;
}

.btn-header:hover {
    color: white;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    transform: scale(1.1);
    transition: 0.3s;
}

.btn-header:focus {
    color: white;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

/*.container-types {*/
/*    */
/*}*/
.btn-filter {
    color: black;
    font-size: x-large;
    border-color: var(--primary-color);
    margin: 10px 20px 0 20px;
    padding: 5px 20px 10px 15px;
    border-radius: 15px;
}

.btn-filter > img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.btn-filter:hover {
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
    color: black;
    transform: scale(1.05);
    transition: 0.3s;
}

.btn-filter:focus {
    border-color: var(--primary-color);
    color: black;
}

.separator {
    color: var(--primary-color);
    border-width: 3px;
    margin: 10px 0;
}

.dropdown-item::selection, .dropdown-item:focus{
    background-color: #FAB672;
}