*{
    font-family: "Cambria", sans-serif;
}

.container-main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*------------------------------*/
/*--------- Main Page  ---------*/
/*------------------------------*/

.container-body-mainpage {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    margin: 0 50px;
}

.container-body-mainpage > div{
    font-size: xxx-large;
    text-align: center;
    font-weight: bold;
    margin-top: 150px;
}

/*------------------------------*/
/*----- Experiences Page  ------*/
/*------------------------------*/

.container-body {
    display: flex;
    width: 100%;
    padding-bottom: 50px;
}

/*------ Filters Section -------*/
.container-filters{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: medium;
    padding: 0 10px;
    margin: 0 10px;
}
.container-filters > p{
    font-size: x-large;
    font-weight: bold;
}

.btn-search{
    border-color: #F99D32;
    background-color: transparent;
    color: black;
}
.btn-search:hover{
    border-color: #F99D32;
    background-color: #ffc584;
    color: black;
}
.btn-search:focus{
    border-color: #F99D32;
    background-color: transparent;
    color: black;
    --bs-btn-focus-shadow-rgb: none;
}

/*------ Experiences -------*/
.container-experiences{
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: medium;
    padding: 0;
    margin: 0 10px;
}

.card-container{
    text-decoration: none;
    color: black;
}
.card-container:hover, .card-container:focus{
    color: black;
    scale: 101%;
}

.card.activity-view{
    margin-top: 2%;
    width: 30rem;
}

.btn-bookmark{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1%;
}

/*.btn-bookmark{*/
/*    position: absolute;*/
/*    top: 5px;*/
/*    right: 5px;*/
/*    padding: 3px;*/
/*    background-color: transparent;*/
/*    border-color: transparent;*/
/*    width: auto;*/
/*    height: auto;*/
/*}*/
/*.btn-bookmark:hover{*/
/*    background-color: #e5dad8;*/
/*    border-color: transparent;*/
/*}*/

.btn-circle.btn-xl {
    border-radius: 35px;
    text-align: center;
}

/*.card-experience{*/
/*    margin: 10px;*/
/*    width: 15rem;*/
/*    height: 20rem;*/
/*}*/

/*.img-experience{*/
/*    width: 150px;*/
/*    display: flex;*/
/*    align-self: center;*/
/*    margin: 5px;*/
/*}*/

/*.rate{*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    margin-bottom: 10px;*/
/*}*/
/*.rate-ic{*/
/*    align-self: center;*/
/*}*/
/*.rate-value{*/
/*    align-self: center;*/
/*    margin: 0;*/
/*}*/

/*------------------------------*/
/*------- Activity Page  -------*/
/*------------------------------*/

.card.card-view{
    padding: 1%;
    margin: 1%;
}

.activity-info{
    display: inline-block;
}
