.container-body-mainpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.container-body-mainpage > div{
    font-size: xxx-large;
    text-align: center;
    font-weight: bold;
    margin-top: 150px;
}

/*--------- Aventuras  ---------*/

.container-body {
    display: flex;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
}

.container-filters{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: medium;
    padding: 0 10px;
    margin: 0 10px;
}
.container-filters > p{
    font-size: x-large;
    font-weight: bold;
}

.btn-search{
    border-color: #F99D32;
    background-color: transparent;
    color: black;
}
.btn-search:hover{
    border-color: #F99D32;
    background-color: #ffc584;
    color: black;
}
.btn-search:focus{
    border-color: #F99D32;
    background-color: transparent;
    color: black;
    --bs-btn-focus-shadow-rgb: none;
}

.container-experiences{
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    font-size: medium;
    padding: 0;
    margin: 0 10px;
}

.card-container{
    text-decoration: none;
    color: black;
}
.card-container:hover, .card-container:focus{
    color: black;
    scale: 105%;
}

.card{
    margin: 10px;
    width: 15rem;
    height: 20rem;
}

.btn-bookmark{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px;
    background-color: transparent;
    border-color: transparent;
}
.btn-bookmark:hover{
    background-color: #e5dad8;
    border-color: transparent;
}

.img-experience{
    width: 150px;
    display: flex;
    align-self: center;
    margin: 5px;
}

.rate{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.rate-ic{
    align-self: center;
}
.rate-value{
    align-self: center;
    margin: 0;
}

