.btn-exp {
    border-color: #F99D32;
}

.btn-exp:hover , .btn-exp:focus, .btn-exp:active, .btn-exp::selection{
    border-color: #FAB672;
}

.title{
    justify-content: center;
    display: flex;
}

.cards{
    overflow: auto;
    padding: 0;
    margin: 0px 2px 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}